.items_container {
  height: 110vh;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#191b1b, #101111, #000000);
  flex-direction: column;
}
.items_content_container {
  top: 6rem;
  margin-left: 1rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
}
.items_content_container p {
  color: #e6e6e6;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.0675rem;
  text-align: left;
}
.items_container button {
  background: linear-gradient(to right, #ffffff, #e7ecef);
  border: none;
  border-radius: 100rem;
  color: black;
  padding: 0.65rem 1.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.items_content_container h1 {
  color: white;
  font-weight: 500;
  font-size: 2.45rem;
  letter-spacing: 0.05rem;
}
.items_container img {
  width: auto;
  height: auto;
  max-height: 20rem;
  max-width: 20rem;
  top: 0%;
}
