* {
  overflow-x: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100vh;
  z-index: 10;
  gap: 1rem;
  background: linear-gradient(to bottom, #00000000, rgba(0, 0, 0, 0.256), black),
    url("../images/header-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.icon {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  transition: 0.4s;
}
.navbar_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.header h1 span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: transparent;
  background: linear-gradient(120deg, #ffffff, #ffffff, #ffffff, #868686);
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.045em;
  text-align: center;
  font-size: 2.12rem;
  line-height: 3.5rem;
  padding: 0.45rem;
}
.header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  letter-spacing: 0.045em;
  text-align: center;
  font-size: 2.12rem;
  line-height: 3.5rem;
  padding: 0.45rem;
}
.header p {
  font-size: 1.05rem;
  color: #bdbdbd;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.035em;
  text-align: center;
  line-height: 1.85rem;
  padding: 1rem;
}
.header button {
  transition: 0.4s;
  color: black;
  background: white;
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 1.05rem;
  border-radius: 0.65rem;
  margin-top: 0.15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.header button:hover {
  background: #1d1d1d;
  color: white;
  cursor: pointer;
}
.header button:hover .icon {
  color: white;
}
.header img {
  width: 20rem;
  height: 18rem;
}
