.midsection_container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  background: #191b1b;
  flex-direction: column;
  gap: 4rem;
}
.midsection_container h1 {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.list-icons {
  color: white;
  font-size: 3rem;
}
.midsection_container p {
  line-height: 1.45rem;
  font-size: 0.85rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.06rem;
  text-align: left;
}
.card_container {
  padding-left: 1rem;
  padding-right: 1rem;
}
