.midsection_container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #191b1b;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
.midsection_container h1 {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
  text-align: left;
  overflow: hidden;
}
.list-icons {
  color: white;
  overflow: hidden;
  font-size: 2rem;
}
.midsection_container p {
  line-height: 1.45rem;
  font-size: 0.85rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.06rem;
  text-align: center;
  overflow: hidden;
}
.card_container {
  border-radius: 0.5rem;
  overflow: hidden;
  background: #111111;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
