.header_section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #070707ff, #070707ff);
}
.content_conotainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
}
.content_conotainer h1 {
  font-family: "Jost", serif;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 550;
  letter-spacing: 0.3rem;
}
.content_conotainer p {
  font-family: "Jost", serif;
  color: white;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.08rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1.05rem;
  line-height: 4rem;
}
.content_conotainer button {
  border: none;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  background: white;
  color: black;
  width: 12rem;
  border-radius: 0rem;
  font-family: "Jost", serif;
  cursor: pointer;
}
.content_conotainer button:hover {
  border: none;
  background: #1c1d1fff;
  color: white;
  width: 12rem;
  border-radius: 0rem;
  font-family: "Jost", serif;
}
