.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  background: transparent;
  height: 4rem;
  width: 100%;
  position: fixed;
  transition: 0.7s;
  gap: 45rem;
}
.hammenu {
  display: none;
}
.navbar.scrolled {
  background-color: #080808ff; /* Turns black on scroll */
}
.navbar .title_Area {
  color: white;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  letter-spacing: 0.25rem;
  font-size: 1.25rem;
}
.nav-link {
  color: white;
  font-family: "Jost", sans-serif;
  list-style: none;
}
.navbar_Links ul {
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.navbar_Links li a {
  text-decoration: none;
  font-size: 0.85rem;
  letter-spacing: 0.15rem;
  color: #3d3d3d;
  transition: 0.5s;
}
.navbar_Links li a:hover {
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}
.nav-link.active {
  color: white;
}
@media (max-width: 1536px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    background: transparent;
    height: 4rem;
    width: 100%;
    position: fixed;
    transition: 0.5s;
    gap: 30rem;
  }
  .navbar .title_Area {
    color: white;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;

    font-weight: 500;
    letter-spacing: 0.25rem;
    font-size: 1.25rem;
  }
  .nav-link {
    color: white;
    font-family: "Jost", sans-serif;

    list-style: none;
  }
  .navbar_Links ul {
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .navbar_Links li a {
    text-decoration: none;
    font-size: 0.85rem;
    letter-spacing: 0.15rem;
    color: #3d3d3d;
    transition: 0.5s;
  }
  .navbar_Links li a:hover {
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
  }
}
@media (max-width: 1100px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    background: transparent;
    height: 2.75rem;
    width: 100%;
    position: fixed;
    transition: 0.5s;
    gap: 30rem;
  }
  .navbar .title_Area {
    color: white;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;

    font-weight: 500;
    letter-spacing: 0.25rem;
    font-size: 0.65rem;
  }
  .nav-link {
    color: white;
    font-family: "Jost", sans-serif;

    list-style: none;
  }
  .navbar_Links ul {
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  .navbar_Links li a {
    text-decoration: none;
    font-size: 0.55rem;
    letter-spacing: 0.15rem;
    color: #3d3d3d;
    transition: 0.5s;
  }
  .navbar_Links li a:hover {
    color: white;
    cursor: pointer;
    font-size: 0.6rem;
  }
}
@media (max-width: 1000px) {
  .hammenu {
    display: flex;
    color: black;
    position: absolute;
    left: 90%;
    font-size: 1.45rem;
    z-index: 50;
  }
  .hammenu.clicked {
    color: white;
  }
  .hammenu:hover {
    cursor: pointer;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 50;
    position: fixed;
    background: transparent;
    height: 5rem;
    width: 100%;
    transition: 0.5s;
    gap: 5rem;
  }
  .navbar .title_Area {
    color: white;
    text-transform: uppercase;
    font-family: "Roboto", serif;
    font-weight: 500;
    letter-spacing: 0.25rem;
    font-size: 0.65rem;
    position: absolute;
    left: 10%;
  }
  .nav-link.active {
    color: white;
    background: #00000014;
  }
  .nav-link {
    color: white;
    font-size: 1.25rem;
    font-family: "Jost", sans-serif;

    list-style: none;
    text-decoration: none;
    padding: 1rem;
  }
  .navbar_Links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    width: 100%;
    height: 12rem;
    padding: 2rem;
    transition: 0.5s;
  }
  .navbar_Links ul {
    flex-direction: column;
    width: 100%;
    height: 12rem;
    margin-bottom: 0.25rem;
    background: #000000ff;
    transform: translateY(-9rem);
    gap: 3rem;
    padding: 2rem;
    transition: 0.54s;
    opacity: 0;
  }
  .navbar_Links ul.open {
    display: flex;
    transform: translateY(4rem);
    opacity: 100;
    font-size: 1.25rem;
  }
  .navbar_Links li a {
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    color: white;
    transition: 0.5s;
    list-style: none;
    border-radius: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar_Links li a:hover {
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    background: #ffffff0a;
  }
  .exit {
    color: white;
  }
  .hamburger {
    color: red;
  }
}
