.personal-information {
  height: 100vh;
  width: 100%;
  background-color: #070707;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  overflow: hidden;
}
.titleArea {
  text-align: center;
  line-height: 2rem;
}
.titleArea h3 {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 1.65rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-weight: 400;
}
.titleArea h1 {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: normal;
  font-weight: 600;
  margin-top: -1rem;
}
.titleArea p {
  margin-top: -0.35rem;
  color: #787878;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.75rem;
}
.personalContent {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: row;
  gap: 12rem;
}
.paragraph-element {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.paragraph-element h1 {
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 2.75rem;
  letter-spacing: 0.15rem;
}
.paragraph-element p {
  margin-top: -1.5rem;
  color: #787878;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 3.25rem;
  width: 55rem;
}
.certtifications-data {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.certtifications-data h1 {
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: 450;
  font-size: 1.7rem;
  letter-spacing: 0.15rem;
  text-align: left;
}
.data-element {
  color: white;
}
.data-element h2 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.data-element ul {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 0rem;
  margin-top: -0.72rem;
}
.data-element li {
  list-style: none;
  margin-left: -2.5rem;
}
.data-element li p {
  color: #787878;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 0.25rem;
}
.certifications-container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-top: -2.75rem;
  gap: 1rem;
}
