.roadmapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #080808ff;
  background-position: center;
  background-size: cover;
}
.rContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 110rem;
  height: 50rem;
}
.columnbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem;
}
.flexbox1 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
}
.columnbox1 {
  position: absolute;
  top: 70rem;
  left: 8rem;
}
.columnbox1 h1 {
  color: white;
  font-family: "Jost", serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 650;
  transform: translateY(-3rem);
  margin-bottom: -2rem;
  line-height: 3rem;
}
.columnbox1 p {
  font-family: "Jost", serif;
  font-size: 1.1rem;
  font-weight: 450;
  letter-spacing: 0.045rem;
  width: 38rem;
  line-height: 5rem;
  transform: translateY(-2rem);
}
.flexbox2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.75rem;
  position: absolute;
  left: 8rem;
  top: 106rem;
}
.textSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textSection h2 {
  font-family: "Jost", serif;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.085rem;
  color: white;
}
.textSection h2 span {
  font-weight: 600;
  font-size: 0.85rem;
}
.cardcomponent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardcomponent img {
  width: 58rem;
  height: 36rem;
  left: 50rem;
  top: 68rem;
  position: absolute;
  object-fit: cover;
}
.boxinformation {
  height: 36rem;
  width: 28rem;
  background: black;
  left: 80rem;
  top: 70rem;
  position: absolute;
}
