.servicesection {
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("../images/security-cameras.jpg");
  background-position: center;
  background-size: cover;
}
.text_area {
  gap: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: linear-gradient(to bottom, #070707, #141414d0, #080808ff);
  width: 100%;
  height: 100vh;
}
.text_area h2 {
  color: white;
  font-family: "Roboto", serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.45rem;
  font-weight: 550;
}
.text_area ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  list-style: none;
}
.text_area ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 0.5rem;
}
.text_area ul li p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.4rem;
}
.text_area ul li h1 {
  text-transform: uppercase;
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
}
.card {
  background: #1c1c1c;
  padding: 1.25rem;
  border-radius: 0.1rem;
  transition: 0.5s;
  width: 18rem;
  height: 18rem;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: black;
  background: #e8e8e8;
}
.icons {
  font-size: 4rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
@media (max-width: 1536px) {
  /* Styles for scaled 1920x1080 at 125% */
  .servicesection {
    overflow-x: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url("../images/security-cameras.jpg");
    background-position: center;
    background-size: cover;
  }
  .text_area {
    gap: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, #070707, #141414d0, #080808ff);
    width: 100%;
    height: 100vh;
  }
  .text_area h2 {
    color: white;
    font-family: "Roboto", serif;
    font-size: 1.55rem;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
    font-weight: 550;
  }
  .text_area ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
  }
  .text_area ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0rem;
  }
  .text_area ul li p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 600;
    font-size: 0.6rem;
    line-height: 1.2rem;
  }
  .text_area ul li h1 {
    text-transform: uppercase;
    font-size: 1.55rem;
    letter-spacing: 0.2rem;
  }
  .card {
    background: #1c1c1c;
    padding: 1.25rem;
    border-radius: 0.1rem;
    transition: 0.5s;
    width: 16rem;
    height: 16rem;
  }
  .card:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: black;
    background: #e8e8e8;
  }
  .icons {
    font-size: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media (max-width: 1280px) {
  .servicesection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url("../images/security-cameras.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
  }
  .text_area {
    gap: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, #070707, #141414d0, #080808ff);
    width: 100%;
    height: 100vh;
  }
  .text_area h2 {
    color: white;
    font-family: "Roboto", serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
    font-weight: 550;
    transform: translateY(2.75rem);
  }
  .text_area ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
  }
  .text_area ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0rem;
  }
  .text_area ul li p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 600;
    font-size: 0.45rem;
    line-height: 0.75rem;
  }
  .text_area ul li h1 {
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.2rem;
  }
  .card {
    background: #1c1c1c;
    padding: 1.25rem;
    border-radius: 0.15rem;
    transition: 0.5s;
    width: 9.5rem;
    height: 9.5rem;
  }
  .card:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: black;
    background: #e8e8e8;
  }
  .icons {
    font-size: 5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}
@media (max-width: 950px) {
  .servicesection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url("../images/security-cameras.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
  }
  .text_area {
    gap: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, #070707, #141414d0, #080808ff);
    width: 100%;
    height: 100vh;
  }
  .text_area h2 {
    color: white;
    font-family: "Roboto", serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
    font-weight: 550;
    transform: translateY(2.75rem);
  }
  .text_area ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
  }
  .text_area ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0rem;
  }
  .text_area ul li p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 600;
    font-size: 0.45rem;
    line-height: 0.75rem;
  }
  .text_area ul li h1 {
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.2rem;
  }
  .card {
    background: #1c1c1c;
    padding: 1.25rem;
    border-radius: 0.15rem;
    transition: 0.5s;
    width: 9.5rem;
    height: 9.5rem;
  }
  .card:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: black;
    background: #e8e8e8;
  }
  .icons {
    font-size: 5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}
